.slider {
  position: relative;
  width: 100%;
  padding: 20px 0px
}

.slider-window {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-ele {
  position: relative;
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  gap: 4px;
  svg {
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.15));
  }
  .before-after-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.slider-ele img {
  width: 400px;
  max-width: 100%;
  object-fit: cover;
}

.slider-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  svg {
    cursor: pointer;
  }
}

.circles-cont {
  display: flex;
  gap: 10px;
}

.circles-cont div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.circles-cont div.active {
  background: #0a4a8a;
}

.control-btn {
  width: 50px;
}


@media (max-width: 900px) {
  .slider-ele img {
    width: 350px;
  }
}

@media (max-width: 800px) {
  .slider-ele img {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .slider-ele img {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .slider-ele img {
    width: 150px;
  }
}