<section id="references">
  <h2 class="section-title">Referenzen</h2>
  <div class="line-grey" style="background-color: #085da9 !important"></div>

  <div class="slider">
    <div
      class="slider-window"
      (touchstart)="onTouchStart($event)"
      (touchend)="onTouchEnd($event)"
    >
      <div
        class="slider-track"
        [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
      >
        <div class="slider-ele" *ngFor="let slide of slides">
          <img *ngFor="let img of slide" [src]="img" [alt]="getImageAlt(img)" />
          <div class="before-after-cont" *ngIf="slide.length > 1">
            <svg
              width="55"
              height="55"
              viewBox="0 0 80 80"
              xmlns="http://www.w3.org/2000/svg"
            >
              <!-- Outer circle -->
              <circle
                cx="40"
                cy="40"
                r="36"
                fill="white"
                fill-opacity="0.85"
                stroke="#E5E5E5"
                stroke-width="2"
              />

              <!-- Left arrow -->
              <line
                x1="48"
                y1="40"
                x2="30"
                y2="40"
                stroke="#333"
                stroke-width="3"
                stroke-linecap="round"
              />
              <polyline
                points="35,35 30,40 35,45"
                fill="none"
                stroke="#333"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />

              <!-- Right arrow -->
              <line
                x1="32"
                y1="40"
                x2="50"
                y2="40"
                stroke="#333"
                stroke-width="3"
                stroke-linecap="round"
              />
              <polyline
                points="45,35 50,40 45,45"
                fill="none"
                stroke="#333"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-control">
      <div (click)="back()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m11.6 7l-1.1-1L5 12l5.5 6l1.1-1L7 12zm6 0l-1.1-1l-5.5 6l5.5 6l1.1-1l-4.6-5z"
          />
        </svg>
      </div>

      <div class="circles-cont">
        <div
          *ngFor="let slide of slides; let i = index"
          (click)="goToSlide(i)"
          [class.active]="i === currentIndex"
        ></div>
      </div>

      <div (click)="next()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M6.6 6L5.4 7l4.5 5l-4.5 5l1.1 1l5.5-6zm6 0l-1.1 1l4.5 5l-4.5 5l1.1 1l5.5-6z"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
