<section id="about">
  <div class="container">
    <div class="text-content">
      <img class="mobile-img" src="img/about_me.webp" alt="Fenster Montage" />

      <h2 class="section-title">Über Uns</h2>
      <div class="line-grey" style="background-color: #085da9 !important"></div>
      <p>
        Wir begleiten unsere Kunden von der ersten Kontaktaufnahme bis zur
        fertigen Montage – kompetent, zuverlässig und persönlich.
      </p>
      <img class="main-img-resp" src="img/about_me_responsive.png" alt="Professionelle Fenster- und Türenmontage in Rheinhausen">
      <p class="text-desktop">
        Bereits beim ersten Telefonat nehmen wir uns Zeit für eine ausführliche
        Beratung. Nach einer individuellen Bedarfsanalyse erstellen wir eine
        transparente Offerte bzw. ein maßgeschneidertes Angebot. Von der
        fachgerechten Kundenberatung über das präzise Feinaufmaß bis hin zur
        Bestellung, Lieferung und professionellen Montage – wir kümmern uns um
        den gesamten Ablauf. Unser Ziel ist es, höchste Qualität zu liefern und
        sicherzustellen, dass unsere Kunden rundum zufrieden sind.
      </p>
      <div class="info-des">
        <div class="mobile-img-cont">
            <img src="img/door.png" alt="Haustüren und Eingangstüren Montage">
            <img src="img/window.png" alt="Kunststoff- und Aluminiumfenster Installation">
            <img src="img/handshake.png" alt="Kundige Beratung und Zusammenarbeit">
            <img class="mobile-only" src="img/plan.png" alt="Planung und Feinaufmaß für Fenster">
            <img class="mobile-only-work" src="img/work.png" alt="Professionelle Montagearbeiten">
        </div>
        <div class="infos">
          <h3>Unser Sortiment</h3>
          <div class="line-grey"></div>

          <ul class="product-list">
            <li>
              Marktführende Kunststofffenster von Schüco, Rehau, Salamander,
              Aluplast
            </li>
            <li>Aluminiumfenster und -türen</li>
            <li>Holzfenster und Holztüren</li>
            <li>Haustüren in verschiedenen Ausführungen</li>
            <li>Zimmertüren als ergänzendes Angebot</li>
          </ul>

          <h3>Qualität, die überzeugt</h3>
          <div class="line-grey"></div>
          <p>
            Wir setzen auf hochwertige Materialien, präzise Verarbeitung und
            saubere Montage. Dabei stehen Langlebigkeit, Energieeffizienz und
            modernes Design im Mittelpunkt.
          </p>
        </div>
      </div>
    </div>

    <div class="image-content">
      <img class="img-deskt" src="img/about_me.webp" alt="Qualitative Fenster- und Türenmontage durch Profis" />
    </div>
  </div>
</section>
