* {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  scroll-behavior:smooth;

}

:root {
  --color-blue: #085da9b3;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter/Inter-VariableFont_opsz-wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.tel-cont {
  background-color: #0c153057;
  border-radius: 14px;
  padding: 10px 10px;
  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

section {
  padding: 40px 40px;
  width: 100%;
}

h2 {
  font-size: 36px;
  color: #0a4a8a;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.line-grey {
  margin-bottom: 8px;
  height: 2px;
  background-color: #7d7e7e;
  width: 100%;
  border-radius: 0 100% 100% 0;
  background: linear-gradient(
    to right,
    rgba(125, 126, 126, 0.3) 0%,
    rgba(125, 126, 126, 1) 50%,
    rgba(125, 126, 126, 0.3) 100%
  );
}
