* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #085da9b3;
}

section {
  padding: 40px 40px;
}

h2 {
  font-size: 36px;
  color: #0a4a8a;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

  .line-grey {
    margin-bottom: 8px;
    height: 2px;
    background-color: #7d7e7e;
    width: 100%;
    border-radius: 0 100% 100% 0;
    background: linear-gradient(
      to right,
      rgba(125, 126, 126, 0.3) 0%,
      rgba(125, 126, 126, 1) 50%,
      rgba(125, 126, 126, 0.3) 100%
    );
  }